{% extends "admin/base.jinja2" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('blog.static', filename='css/code.css') }}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}
{% block content %}
<h1>Blog Posts</h1>
<button class="btn btn-primary" data-toggle="modal" data-target="#newPostModal" type="button" id="newPost">New Post</button>
<div class="modal fade" id="newPostModal" tabeindex="-1" role="dialog" aria-labelledby="newPostModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newPostHeader">Add a New Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        {{ form.title.label(class_='form-label') }}
                        {{ form.title(class_='form-control') }}
                    </div>
                    <div class="form-group">
                        {{ form.preview.label(class_='form-label') }}
                        {{ form.preview(class_='form-control') }}
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="postFile">Import Post</label>
                        <input type="file" class="form-control-file" id="postFile">
                        {{ form.body(class_='form-control', id='postText', rows='30') }}
                    </div>
                    <div class="form-group">
                        
                        {{ form.categories.label(class_='form-label') }}
                        <button class="btn btn-primary" type="button" name="addCategory">Add</button>
                        {{ form.categories() }}
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" name="render">Render</button>
                    </div>
                </form>
                <div id="preview">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {{ form.submit(class_='btn btn-primary', id='save', data_mde='new') }}
            </div>
        </div>
    </div>
</div>
<div id="posts">
{% if posts %}
{% for post in posts %}
<div class="card">
    <div class="card-body">
        {{ post.title }}
        <p class="card-text">{{ post.preview }}</p>
        <button data-id="{{ post.id }}" type="button" data-toggle='modal' data-target='#editPostModal' class="btn btn-primary btn-sm" name="editPost">Edit Post</button>
    </div>
</div>
{% endfor %}
{% endif %}
</div>
<div class="modal fade" id="editPostModal" tabeindex="-1" role="dialog" aria-labelledby="editPostModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newPostHeader">Edit Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="form-label" for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title"/>
                </div>
                <div class="form-group">
                    <label class="form-label" for="previewText">Preview Text</label>
                    <textarea class="form-control" id="previewText" name="preview"></textarea>
                </div>
                <form>
                    <div class="form-group">
                        <textarea class="form-control" id="postContent" name="postContent" rows="30"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" name="render">Render</button>
                    </div>
                </form>
                <div id="preview">
                </div>
            </div>
            <div class="modal-footer">
                <div style="display: none;" name="id"></div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-mde="edit" name="save">Save</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}