{% extends "layout.jinja2" %}
{% from 'blog_macros.jinja2' import post_url %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('blog.static', filename='css/blog.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('blog.static', filename='css/code.css') }}" type="text/css" />
{% endblock %}
{% block content %}
<article class="post_container">
    {% block postContent %}{% endblock %}
</article>
{% endblock %}
{% block analytics %}
{{ super() }}
{% endblock %}