{% extends "base.jinja2" %}
{% block content %}
<h1>Welcome to my Blog!</h1>
{% for post in posts %}
<div class="post-preview">
    <div class="card">
        <div class="card-body">
            {{ post_url(post.title) }}
            <h6 class="card-subtitle mb-2 text-muted">{{ post.timestamp.strftime('%m/%d/%Y, %I:%M:%S %p') }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Categories: 
            {% for category in post.categories %}
                <a href="{{ url_for('blog.postsCategory', category=category.name) }}" class="btn btn-info btn-xs">{{ category.name.capitalize() }}</a>
            {% endfor %}
            </h6>
            <p class="card-text">{{ post.preview }}</p>
            <a href="{{ url_for('blog.post', postname='-'.join(post.title.lower().split(' '))) }}" class="btn btn-primary btn-sm card-link" role="button">View Post</a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}