{% extends "base.jinja2" %}
{% block description %}<meta name="description" content="{{ post.title }}">{% endblock %}
{% block metaTags %}
{% if categories %}
<meta name="keywords" content="{{ ','.join(categories) }}">
{% else %}
{{ super() }}
{% endif %}
<meta name="author" content="{{ post.author.first_name + ' ' + post.author.last_name }}">
{% endblock %}
{% block postContent %}
<h1>{{ post.title }}</h1>
<div id="author">By: {{ post.author.first_name + " " + post.author.last_name }}</div>
<div class="timestamp">
    <p>Posted on: {{ post.timestamp.strftime('%m/%d/%Y, %I:%M:%S %p') }}</p>
</div>
<div id="categories">
    <p>Categories:
    {% for category in categories %}
        <a href="{{ url_for('blog.postsCategory', category=category) }}" class="btn btn-info btn-sm" role="button">{{ category | title }}</a>
    {% endfor %}
    </p>
</div>
<hr/>
<div class="post-body">
    <p>{{ post.preview }}</p>
    {{ post.body | markdown }}
</div>
{% endblock %}