{% extends "base.jinja2" %}
{% block content %}
<h1>Posts</h1>
{% if posts %}
{% for post in posts %}
    <div class="post-preview">
        <div class="card">
            <div class="card-body">
                <a href="{{ url_for('blog.post', id=post.id) }}">
                    <div class="card-title">{{ post.title }}</div>
                </a>
                <p class="card-text">{{ post.preview }}</p>
            </div>
                
        </div>
    </div>
{% endfor %}
{% endif %}
{% endblock %}