{% extends "base.jinja2" %}
{% block content %}
<h1>Upload a new Markdown Post</h1>
<form method="POST" action="{{ url_for('blog.upload') }}" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
		<p>
			{{ form.title.label }}<br>
			{{ form.title(size=32) }}
			{% for error in form.title.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.post.label }}<br>
			{{ form.post(size=32) }}
			{% for error in form.post.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>{{ form.submit() }}</p>
</form>
{% endblock %}