body {
  font-family: Arial;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  height: 100%;
  margin: 0;
  background-color: rgb(209, 209, 209);
}

.container {
  display: flex;
  background-color: white;
  grid-column: 2;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 8px 15px;
}

.content {
  width: 100%;
  padding: 8px 15px;
}
.navbar a{
  text-align: left;
  color: white;
  align-self: center;
  text-decoration: none;
}

.navbar {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  background-image: linear-gradient(30deg, rgb(50,0,255), white);
  padding: 8px 15px;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar li {
  list-style: none;
}

.navbar li a {
  text-decoration: none;
  background-color: darkblue;
  color: white;
  display: block;
  padding: 8px 15px;
  font-weight: bold;
  border-right: 1px solid #ccc;
}

.navbar li a:hover {
  color: darkblue;
  background-color: white;
}
