<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    {% set site = "Evan's Web Server" %}
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {% block description %}<meta name="description" content="Evan Hastings' Web Server">{% endblock %}
      {% block metaTags %}<meta name="keywords" content="Python,Resume,Flask,Networking,Security">{% endblock %}
      {% if title %}
      <title>{{ title }} - {{ site }}</title>
      {% else %}
      <title>{{ site }}</title>
      {% endif %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">

		  <!-- Favicon links -->
		  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
      <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
		  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
		  <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
		  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      {% block head %}{% endblock %}
    </head>
    <body>
      <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="{{ url_for('home.index') }}">Evan Hastings</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class='navbar-nav mr-auto'>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('home.index') }}">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('home.contact') }}">Contact</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('home.resume') }}">Resume</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('home.portfolio') }}">Portfolio</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('home.site') }}">Site Info</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('blog.index') }}">Blog</a></li>
            </ul>
          </div>
        </nav>

      <div id="content-container" class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes" style="padding:5x;margin:0;">
        {% for message in messages %}
          <div class="message_flash" style="padding:0;margin:0;color: rgb(214, 41, 41);">{{ message }}</div>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <div class="content">
        {% block content %}{% endblock %}
        </div>
      </div>
    </body>
    <footer>
      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script type="text/javascript">
        (function(){
          var d=document,i=new Image,e=encodeURIComponent;
          i.src="{{ url_for('home.analyze') }}?url="+e(d.location.href)+'&ref='+e(d.referrer)+'&t='+e(d.title);
        })();
      </script>
      {% block footer %}
      {% endblock %}
    </footer>
</html>
