<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Evan's Web Server</title>
        {% else %}
        <title>Evan's Web Server</title>
        {% endif %}
        <link rel="stylesheet" href="https://fonts.googleapis.com">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha38    4-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">

        {% block head %}
        {% endblock %}
    </head>
    <body>
      <div class="container">
        <div class="navbar">
          <a href="{{ url_for('home.index') }}">
          <h1>Evan Hastings</h1>
          </a>
          <ul class='nav-links'>
            <li><a href="{{ url_for('home.index') }}">Home</a></li>
            <li><a href="{{ url_for('home.contact') }}">Contact</a></li>
            <li><a href="{{ url_for('home.resume') }}">Resume</a></li>
            <li><a href="{{ url_for('home.portfolio') }}">Portfolio</a></li>
            <li><a href="{{ url_for('home.site') }}">Site Info</a></li>
            <li><a href="{{ url_for('blog.index') }}">Blog</a></li>
          </ul>
        </div>
        
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes" style="padding:5x;margin:0;">
        {% for message in messages %}
          <div class="message_flash" style="padding:0;margin:0;color: rgb(214, 41, 41);">{{ message }}</div>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <div class="content">
        {% block content %}
        {% endblock %}
        </div>
      </div>
    </body>
    <footer>
      <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
      <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      {% block footer %}
      {% endblock %}
    </footer>
</html>
